<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${title}">Hello</title> <!-- メッセージの外部化 -->
</head>

<body>
  <form th:action="@{/accountCreateForm}" th:object="${user}" method="post">
    <!-- 入力内容のエラーメッセージ -->
    <table th:if="${validationError}">
      <tr th:each="error : ${validationError}">
        <td style="color: red;" th:text="${error}"></td>
      </tr>
    </table>
    <!-- 氏名 -->
    <label for="name" th:text="#{accountCreateForm.name}"></label>
    <input type="text" th:field="*{name}"><br>
    <!-- メールアドレス -->
    <label for="email" th:text="#{accountCreateForm.email}"></label>
    <input type="email" th:field="*{email}"><br>
    <!-- 年齢 -->
    <label for="age" th:text="#{accountCreateForm.age}"></label>
    <input type="number" th:field="*{age}"><br>

    <button>確認画面へ</button>
  </form>
</body>

</html>