<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${title}">Hello</title> <!-- メッセージの外部化 -->
</head>

<body>
  <div th:object="${user}"></div>
  <p>入力内容をご確認ください</p>
  <span th:inline="text">
    <!-- 氏名 -->
    <label for="name" th:text="#{accountCreateFormConfirm.name}"></label> [[${user.name}]]<br>
    <!-- メールアドレス -->
    <label for="name" th:text="#{accountCreateFormConfirm.email}"></label> [[${user.email}]]<br>
    <!-- 年齢 -->
    <label for="name" th:text="#{accountCreateFormConfirm.age}"></label> [[${user.age}]]<br>
  </span>
  </div>

</body>

</html>