<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>家計簿登録画面</title>
</head>

<body>
    <table>
        <tr>
            <td><a href="insert.html" th:href="@{/insert}">家計簿登録</a></td>
            <td><a href="#">家計簿一覧</a></td>
            <td><a href="#">更新</a></td>
            <td><a href="#">削除</a></td>
        </tr>
    </table>
    <form th:action="@{/userCtrlKakeibo}" th:object="${userEasyHouse}" method="post">
        <p style="text-decoration:underline; text-decoration-color:hwb(237 24% 10%);">簡単プラン</p>
        <label for="userId">ユーザID：</label>
        <input type="text" name="id" th:value="${user.id}">
        <label for="name">氏名：</label>
        [[${user.name}]]

        <table border="1" style="border-collapse: collapse" cellpadding="4">
            <thead>
                <tr>
                    <th>対象日</th>
                    <th>収入</th>
                    <th>支出</th>
                    <th>収支</th>
                    <th>コメント</th>
                    <th>ステータス</th>
                    <th>集計ボタン</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td><input type="text" name="user.id" th:value="${user.id}"></td> -->
                    <!-- https://ti-tomo-knowledge.hatenablog.com/entry/2018/06/14/162616 -->
                    <td><input type="date" id="today" name="target_date" th:value="${target_date}"></td>
                    <td><input type="number" id="income" name="income" th:value="${income}"></td>
                    <td><input type="number" id="expenses" name="expenses" th:value="${expenses}"></td>
                    <td><input type="number" id="income_and_expenditure" name="income_and_expenditure"
                            th:value="${income_and_expenditure}"></td>
                    <td><input type="text" id="comments" name="comments" th:value="${comments}"></td>
                    <td><input type="text" id="status" name="status" th:value="${status}"></td>
                    <td><button type="button" onclick="syukeiFun()">集計</button></td>
                </tr>
            </tbody>
        </table>
        <br>
        <button>保存</button>
    </form>
</body>
<script th:inline="javascript">
    var today = new Date();
    today.setDate(today.getDate());
    var yyyy = today.getFullYear();
    var mm = ("0" + (today.getMonth() + 1)).slice(-2);
    var dd = ("0" + today.getDate()).slice(-2);
    document.getElementById("today").value = yyyy + '-' + mm + '-' + dd;

    // https://nicoiworks.com/js-2/
    function syukeiFun() {
        var income = document.getElementById("income");
        var expenses = document.getElementById("expenses");
        var income_and_expenditure = Number(income.value) + Number(expenses.value)
        document.getElementById("income_and_expenditure").value = income_and_expenditure;
    }

</script>

</html>