<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>家計簿登録画面</title>
</head>

<body>
    <table>
        <tr>
            <td><a href="insert.html" th:href="@{/insert}">家計簿登録</a></td>
            <td><a href="kakeiboKantanUserList.html" th:href="@{/kakeiboKantanUserList}">家計簿一覧</a></td>
            <td><a href="#">家計簿更新</a></td>
            <td><a href="#">家計簿削除</a></td>
        </tr>
    </table>
    <!-- 縦入力 -->
    <form th:action="@{/kakeiboNyuryoku}" th:object="${userEasyHouse}" method="post">
        <p style="text-decoration:underline; text-decoration-color:hwb(237 24% 10%);">簡単プラン</p>

        <label for="userId">ユーザID：</label>
        <input type="text" id="userId" th:field="*{id}" onclick="alertFun()" readonly><br>

        <!-- クリックで表示させるテキストにはhiddenクラスを付ける -->
        <label for="name">氏名：</label>
        <input type="text" id="name" th:field="*{name}" onclick="changeColor()" readonly><br>
        <p id="btn2-text" class="hidden">氏名は変更できません</p>

        <label for="name">対象日：</label>
        <input type="date" id="today" name="target_date" th:field="*{target_date}">
        <span class="errorStr" th:errors="*{target_date}"></span>
        <br>

        <label for="income">収入：</label>
        <input type="number" id="income" name="income" th:field="*{income}">
        <span class="errorStr" th:errors="*{income}"></span>
        <br>

        <label for="expenses">支出：</label>
        <input type="number" id="expenses" name="expenses" th:field="*{expenses}">
        <span class="errorStr" th:errors="*{expenses}"></span>
        <br>

        <label for="income_and_expenditure">収支：</label>
        <input type="number" id="income_and_expenditure" name="income_and_expenditure"
            th:field="*{income_and_expenditure}">
            <span class="errorStr" th:errors="*{income_and_expenditure}"></span>
            <br>

        <label for="comments">コメント：</label>
        <input type="text" id="comments" name="comments" th:field="*{comments}">
        <span class="errorStr" th:errors="*{comments}"></span>
        <br>

        <label for="status">ステータス：</label>
        <input type="text" id="status" th:field="*{status}">
        <span class="errorStr" th:errors="*{status}"></span>
        <br>

        <button type="button" onclick="syukeiFun()">収支を計算する</button><br>
        <br>
        <button>入力内容確認へ</button>
    </form>

</body>
<script th:inline="javascript">
    var today = new Date();
    today.setDate(today.getDate());
    var yyyy = today.getFullYear();
    var mm = ("0" + (today.getMonth() + 1)).slice(-2);
    var dd = ("0" + today.getDate()).slice(-2);
    document.getElementById("today").value = yyyy + '-' + mm + '-' + dd;

    // https://nicoiworks.com/js-2/
    function syukeiFun() {
        var income = document.getElementById("income");
        var expenses = document.getElementById("expenses");
        var income_and_expenditure = Number(income.value) + Number(expenses.value)
        document.getElementById("income_and_expenditure").value = income_and_expenditure;
    }

    function alertFun() {
        alert('ユーザIDは変更できません');
        var obj = document.getElementById("userId");
        if (obj.style.borderWidth == "1px") {
            obj.style.borderWidth = "1px";
        } else {
            obj.style.border = "solid 1px red";
        }
    }

    // // TODO:addEventListener
    // const myInput = document.getElementById('btn2-text');
    // myInput.addEventListener('click', function (event) {
    //     // ボタンクリックでhiddenクラスを付け外しする
    //     myInput.classList.toggle('hidden');
    // });

</script>

<style>
    .errorStr {
        color: red;
    }

    /* クリックで表示させるテキストを隠す */
    .hidden {
        display: none;
    }

    #btn2-text {
        margin: 16px 0;
        font-size: 14px;
        color: red;
    }
</style>

</html>