<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>入力内容確認画面</title>
</head>

<body>
  <div th:object="${userEasyHouse}"></div>
  <p>入力内容をご確認ください</p>
  <span th:inline="text">
    ユーザID： [[${userEasyHouse.id}]]<br>
    氏名： [[${userEasyHouse.name}]]<br>
    対象日： [[${userEasyHouse.target_date}]]<br>
    収入： [[${userEasyHouse.income}]]<br>
    支出： [[${userEasyHouse.expenses}]]<br>
    収支： [[${userEasyHouse.income_and_expenditure}]]<br>
    コメント： [[${userEasyHouse.comments}]]<br>
    ステータス： [[${userEasyHouse.status}]]<br>
  </span>
  </div>

  <form th:action="@{/userCtrlKakeibo}" th:object="${userEasyHouse}" method="post">
    <input type="hidden" name="id" th:value="*{id}">
    <input type="hidden" name="name" th:value="*{name}">
    <input type="hidden" name="target_date" th:value="*{target_date}">
    <input type="hidden" name="income" th:value="*{income}">
    <input type="hidden" name="expenses" th:value="*{expenses}">
    <input type="hidden" name="comments" th:value="*{comments}">
    <input type="hidden" name="status" th:value="*{status}">
    <input type="submit" value="登録">
  </form>
</body>

</html>