<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link th:href="@{styles.css}" rel="stylesheet">
  <title>利用者情報一覧画面</title>
</head>

<body>
  <table>
    <tr>
      <td><a href="#">利用者入力</a></td>
      <td><a href="userList.html" th:href="@{/userList}">利用者一覧</a></td>
    </tr>
  </table>
  <div>
    <table border="1" style="border-collapse: collapse" cellpadding="4">
      <thead>
        <tr>
          <th>ユーザID</th>
          <th>氏名</th>
          <!-- <th>操作</th> -->
        </tr>
      </thead>
      <tbody>
        <tr th:each="user: ${userList}">
          <td th:text=${user.id}></td>
          <td th:text=${user.name}></td>
          <td>
          <td><a th:href="@{/user/{user.id}(id=*{user.id})}">詳細</a></td>
          </td>
          <td>
            <button type="button">削除</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>