<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>準備画面</title>
</head>
<body>
    <h1>準備</h1>
</body>

<div>
    <table border="1" style="border-collapse: collapse" cellpadding="4">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>リンク</th>
          <th>分類</th>
          <th>登録日時</th>
          <th>更新日時</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="workbook: ${workbookList}">
          <td th:text=${workbook.title}></td>
          <td th:text=${workbook.link}></td>
          <td th:text=${workbook.category}></td>
          <td th:text=${workbook.insert_date}></td>
          <td th:text=${workbook.update_date}></td>
        </tr>
      </tbody>
    </table>
  </div>
</html>